#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.timer {
  @apply text-red-800 text-size-[90px] text-center;
}
.flash {
  animation-name: flash-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes flash-animation {
  0%  {color: rgb(153 27 27);}
  33% {color: rgb(165 165 165)};
  66% {color: black};
  100%  {	color: rgb(153 27 27);}
}
/* .flash {
  animation-name: flash-animation;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}
@keyframes flash-animation {
  0%  {color: rgb(153 27 27);}
  14% {color: orange;}
  28% {color: yellow;}
  42% {color: green;}
  56% {color: lime;}
  70% {color: blue;}
  84% {color: purple;}
  100%  {	color: rgb(153 27 27);}
} */
.timer-active {
  @apply pointer-events-auto font-semibold;
}
.timer-inactive {
  @apply pointer-events-none text-gray-400;
}

.board {
  transition: background-color cubic-bezier(0, 0.01, 0.2, 1) 2s;
}
.board-inactive {
  @apply board border-blue-500 border-width-[1px] bg-blue-200 text-center pointer-events-none;
} 
.board-active {
  @apply board border-yellow-600 border-width-[2px] bg-yellow-300 text-center pointer-events-auto;
} 
.board-active button {
  @apply hover:(bg-yellow-200 table text-center border-none w-[100%] h-[100%] my-auto);
}


.round-section {
  @apply flex flex-col w-[40%];
}

.criteria-text {
  @apply text-size-[20px] font-bold text-center;
  font-variant: small-caps;
}

.restart-vio-button {
  @apply text-size-[20px] px-4 py-[2px] min-w-25 min-h-[30px] rounded-[11px] bg-purple-300 hover:bg-purple-200 <lg:(min-w-18 text-size-[16px] px-1);
}
.restart-vio-text {
  @apply text-size-[24px] font-bold;
}

.end-button {
  @apply w-[35%] rounded-[11px] text-white text-size-[25px] bg-purple-500 border-purple-900 border-[3px] hover:bg-purple-400;
}
.end-button-lit {
  @apply w-[35%] rounded-[11px] text-white text-size-[25px] font-bold bg-yellow-400 border-orange-700 border-[3px] pointer-events-none;
}

.criteria-button {
  @apply text-white text-size-[20px] px-2 py-[2px] w-[80%] min-w-17 min-h-[30px] rounded-[11px] <lg:min-w-11;
}
.ok, .green-btn{
  @apply criteria-button bg-green-500 hover:bg-green-400;
}
.fail, .red-btn{
  @apply criteria-button bg-red-500 hover:bg-red-400;
}
.disabled, .gray-btn{
  @apply criteria-button bg-gray-500 pointer-events-none;
}



.ball {
 @apply my-[4px] flex justify-center items-center rounded-[50%] w-[45px] h-[45px] pb-1 border-green-600 border-width-[2px] text-center text-size-[25px];
}
.ball-unclicked {
  @apply ball hover:border-width-[3px] hover:border-green-800;
}
.ball-clicked {
  @apply ball-unclicked bg-emerald-200 hover:border-width-[3px] hover:border-green-800;
}
.ball-inactive {
  @apply my-[4px] flex justify-center items-center rounded-[50%] w-[45px] h-[45px] pb-1 border-gray-400 border-width-[2px] 
    text-center text-size-[25px] hover:border-width-[3px] pointer-events-none ;
}

.eventboard {@apply flex flex-col rounded-[11px] w-[40%]; min-height:20vh; max-height: 20vh; overflow: overlay;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */}

::-webkit-scrollbar {
  width: 9px;
  height: 5px;
  border-radius: 11px;
  background-clip: padding-box;  
}
::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.4);
  border-radius: 11px;
  background-clip: padding-box;  
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  background-clip: padding-box;  
}

div.record {@apply flex flex-row w-[100%];}
div.sbheader {@apply flex flex-row w-[100%] h-8 font-bold <xl:h-8;}
div.placeholder {@apply flex flex-row w-[100%] flex-1;}
div.record:hover {background-color: rgba(255,255,255,.2);}
div.sbheader span {@apply text-size-[17px] py-2 px-2 <xl:(text-size-[15px] py-[1] px-2); border-bottom: solid 1.7px;}
div.record span, div.placeholder span {@apply text-size-15px py-1.5 px-2;}
.record span:nth-of-type(1), .sbheader span:nth-of-type(1), .placeholder span:nth-of-type(1) {width:22.66%;  @apply text-center;}
.record span:nth-of-type(2), .sbheader span:nth-of-type(2), .placeholder span:nth-of-type(2) {width:70.66%; background: rgba(255, 255, 255, 0.3);} 
.record span:nth-of-type(3), .placeholder span:nth-of-type(3), .sbheader span:nth-of-type(3) {width:16.66%; max-width:16.66%; min-width:16.66%; @apply text-center pl-2 pr-10;}  
 /* {width:16.66%; @apply text-left pl-2;}   */

.icon-button {
  @apply bg-emerald-600 text-light-50 text-size-[20px] py-2 px-3 w-[100%] rounded-xl flex flex-row justify-center
}

.collapsible {
  cursor: pointer;
}
.collapsible-content {
  @apply active;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.15s ease-out;
}
